spring:
  config:
    import: optional:credentials.yaml
  datasource:
    url: jdbc:postgresql://localhost:5433/freight
    username: ${database.username}
    password: ${database.password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
server:
  max-http-request-header-size: 10MB

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n"
springdoc:
  swagger-ui:
    path: "/swagger-ui.html"
teleroute:
  url: https://api.fx.demo.wktransportservices.com

kinde:
  management:
    url: ${kinde_management.url}
    client_id: ${kinde_management.client_id}
    client_secret: ${kinde_management.client_secret}
    audience: ${kinde_management.audience}
  oauth2:
    domain: ${kindeoauth.domain}
    client-id: ${kindeoauth.client_id}
    client-secret: ${kindeoauth.client_secret}
    scopes: ${kindeoauth.scopes}
    uri: ${kindeoauth.uri}
